@model GeekShopping.Web.Models.ProductModel;


<form asp-action="ProductCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Product</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="nome" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger" />
            </div>

            <div class="col-2">
                <label asp-for="nome_categoria" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="nome_categoria" class="form-control" />
                <span asp-validation-for="nome_categoria" class="text-danger" />
            </div>

            <div class="col-2">
                <label asp-for="descricao" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="descricao" class="form-control" rows="3"></textarea>
                <span asp-validation-for="descricao" class="text-danger" />
            </div>

            <div class="col-2">
                <label asp-for="preco" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="preco" class="form-control" />
                <span asp-validation-for="preco" class="text-danger" />
            </div>

            <div class="col-2">
                <label asp-for="url_imagem" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="url_imagem" class="form-control" />
                <span asp-validation-for="url_imagem" class="text-danger" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="ProductIndex" class="btn-primary btn form-control">Back to list</a>
            </div>

            <div class="col-5">
                <button type="submit" value="Create" class="btn btn-success form-control">Create</button>
            </div>

        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}